@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Use git like a pro!</h1>
    <h3 class="lead">Welcome to the second part of the git brown bag session.</h3>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Lets create a new project in <a href="http://github.com" title="github.com">github.com</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Interact with github</h2>
        <p>Lets create a new repository with git bash and then push our repository to remote.</p>
        <p>We do this to create an initial checkpoint and also backup our base code.</p>
    </div>
    <div class="col-md-4">
        <h2>Collaborate</h2>
        <p>The second developer will join the project and then a PR will be raised.</p>
        <p>The first devleoper will review the PR with the second developer and then merge the changes in.</p>
    </div>
</div>